@tailwind base;

@tailwind components;

@tailwind utilities;

/*! purgecss start ignore */
@import 'themes/light';
@import 'themes/dark';
@import "./components/input";
@import "./components/checkbox";
@import "./components/table";
@import "./components/pagination";
@import "./components/button";
@import "./components/tag";
@import "./components/alert";
@import "./components/dropdown";
@import "./components/wizard";
@import "./components/star-rating";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "./components/editor";
@import './components/vue-select';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply rounded bg-accent-light;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-accent;
}

.cover-skewer {
  transform: skewY(-5deg);
  top: 90%;
}

.-translate-y-50 {
  transform: translateY(-50%);
}

input[type='checkbox']:checked, input[type='radio']:checked + .select-label {
  @apply border-accent text-accent;
}

.select-label {
  @apply border-2 border-gray-300 flex items-center justify-between px-4 py-4 rounded cursor-pointer font-bold;
}

@responsive {

  .active {
    @apply relative;
    transition: all .3s;
    &:after {
      @apply block absolute top-0 left-0 w-1 bg-accent h-full rounded rounded-l-none;
      transition: all .3s;
      content: "";
    }
  }

  .active-bottom {
    @apply relative;
    transition: all .3s;
    &:after {
      @apply block absolute bottom-0 left-0 w-full bg-accent h-1 rounded rounded-b-none;
      transition: all .3s;
      content: "";
    }
  }
}

.left-position-centered {
  left: 50%;
  transform: translateX(-50%);
}

.error {
  @apply text-sm text-red-500 my-2;
}

.custom-pin {
  height: 10px;
  line-height: 1;
  width: 22px;
  padding: 6px 2px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  background: black;
  position: absolute;
  border-radius: .5em;
  font-size: 1em;
  font-weight: bold;
  transition: all 500ms;
}

.custom-pin::after {
  content: '';
  border-width: 1em .5em;
  border-color: black transparent transparent transparent;
  border-style: solid;
  position: absolute;
  top: 99%;
  left: calc(50% - .5em);
}

.custom-pin:hover {
  transform: scale(1.15);
}

/*! purgecss end ignore */
