@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./components/input";
@import "./components/table";
@import "./components/pagination";
@import "./components/button";
@import "./components/tag";
@import "./components/alert";
@import "~@glidejs/glide/src/assets/sass/glide.core";
//
//@font-face {
//  font-family: "NeoSans";
//  src: url("../../public/fonts/NeoSansArabic.ttf") format('truetype');
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: "NeoSans";
//  src: url("../../public/fonts/NeoSansArabic-Bold.ttf") format('truetype');
//  font-weight: bold;
//}
//
//@font-face {
//  font-family: "NeoSans";
//  src: url("../../public/fonts/NeoSansArabic-Light.ttf") format('truetype');
//  font-weight: 300;
//}
//
//body, p, h1, h2, h3, h4, h5, h6, button, input {
//  font-family: 'NeoSans';
//}

.cover-skewer {
  transform: skewY(-5deg);
  top: 90%;
}

.-translate-y-50 {
  transform: translateY(-50%);
}

input[type='checkbox']:checked, input[type='radio']:checked + .select-label {
  @apply border-red-500 text-red-500;
}

.select-label {
  @apply border-2 border-gray-300 flex items-center justify-between px-4 py-4 rounded cursor-pointer font-bold;
}
@responsive{

  .active {
    @apply relative;
    transition: all .3s;
    &:after {
      @apply block absolute top-0 left-0 w-1 bg-red-500 h-full rounded rounded-l-none;
      transition: all .3s;
      content: "";
    }
  }

  .active-bottom {
    @apply relative;
    transition: all .3s;
    &:after {
      @apply block absolute bottom-0 left-0 w-full bg-red-500 h-1 rounded rounded-b-none;
      transition: all .3s;
      content: "";
    }
  }
}

.left-position-centered {
  left: 50%;
  transform: translateX(-50%);
}