.button {
  @apply bg-accent  px-6 py-2 outline-none text-sm capitalize text-white rounded text-center;
  &a[href] {
    @apply text-white;
  }
  &.is-green {
    @apply bg-green-600;
  }
  &.is-muted {
    @apply bg-muted;
  }
  &.is-wide {
    @apply px-24;
  }
  &.is-loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;
    &:after {
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      position: absolute !important;
      webkit-animation: spinAround .5s infinite linear;
      animation: spinAround .5s infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      width: 1em;
    }
  }
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}